@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}


@keyframes blink {
  0%, 100% {opacity: 1;}
  0% {opacity: 0;}
}

.blink {
  animation: blink 1s infinite;
}